*::-webkit-input-placeholder {
  color: #666;
  opacity: 1;
}

*:-moz-placeholder {
  color: #666;
  opacity: 1;
}

*::-moz-placeholder {
  color: #666;
  opacity: 1;
}

*:-ms-input-placeholder {
  color: #666;
  opacity: 1;
}

body textarea:focus:required:invalid {
  border: 3px solid red;
}

body textarea:required:valid {
  border: 3px solid green;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  background-image: url("../img/f1.jpg");
  min-height: 1019px;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 99px;
}

header .logo {
  float: left;
}

header .logo img {
  width: 101px;
  height: 75px;
}

header nav {
  float: right;
  margin-top: 22px;
}

header nav a {
  color: #fffefe;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 18px;
  padding-left: 35px;
  cursor: pointer;
}

header #owl-carousel .item {
  position: relative;
  text-align: center;
  color: #fffefe;
  padding-top: 325px;
}

header #owl-carousel .item .top_text {
  font-size: 72px;
  font-family: "Lato", sans-serif;
}

header #owl-carousel .item .text {
  font-size: 20px;
  font-family: "OpenSansLight";
  padding-top: 32px;
}

header #owl-carousel .item button {
  background: none;
  color: #fffefe;
  font-family: 'MontserratRegular';
  font-size: 24px;
  text-transform: uppercase;
  margin-top: 50px;
  border: 3px solid #645f61;
  padding: 10px 40px;
  cursor: pointer;
}

header #owl-carousel .owl-prev:after {
  content: "\f104";
  font: normal normal normal 14px/1 FontAwesome;
  left: -15px;
  font-size: 30px;
  color: #fff;
  position: absolute;
  top: 73%;
  border: 2px solid #4b4c51;
  padding: 15px 25px;
}

header #owl-carousel .owl-next:after {
  content: "\f105";
  font: normal normal normal 14px/1 FontAwesome;
  right: -15px;
  font-size: 30px;
  color: #fff;
  position: absolute;
  top: 73%;
  border: 2px solid #4b4c51;
  padding: 15px 25px;
}
