*::-webkit-input-placeholder {
  color: #666;
  opacity: 1;
}

*:-moz-placeholder {
  color: #666;
  opacity: 1;
}

*::-moz-placeholder {
  color: #666;
  opacity: 1;
}

*:-ms-input-placeholder {
  color: #666;
  opacity: 1;
}

body textarea:focus:required:invalid {
  border: 3px solid red;
}

body textarea:required:valid {
  border: 3px solid green;
}

body {
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  background-image: url("../img/f1.jpg");
  min-height: 1019px;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 99px;
}

header .top_header {
  padding-bottom: 400px;
}

header .top_header .logo {
  float: left;
}

header .top_header .logo img {
  width: 101px;
  height: 75px;
}

header .top_header nav {
  float: right;
  margin-top: 22px;
}

header .top_header nav a {
  color: #fffefe;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 18px;
  padding-left: 35px;
  cursor: pointer;
}

header #owl-carousel .item {
  position: relative;
  text-align: center;
  color: #fffefe;
}

header #owl-carousel .item .top_text {
  font-size: 72px;
  font-family: "Lato", sans-serif;
}

header #owl-carousel .item .text {
  font-size: 20px;
  font-family: "OpenSansLight";
  padding-top: 32px;
}

header #owl-carousel .item button {
  background: none;
  color: #fffefe;
  font-family: 'MontserratRegular';
  font-size: 24px;
  text-transform: uppercase;
  margin-top: 50px;
  border: 3px solid #645f61;
  padding: 10px 40px;
  cursor: pointer;
}

header #owl-carousel .owl-prev:after {
  content: "\f104";
  font: normal normal normal 14px/1 FontAwesome;
  left: -15px;
  font-size: 30px;
  color: #fff;
  position: absolute;
  top: 73%;
  border: 2px solid #4b4c51;
  padding: 15px 25px;
}

header #owl-carousel .owl-next:after {
  content: "\f105";
  font: normal normal normal 14px/1 FontAwesome;
  right: -15px;
  font-size: 30px;
  color: #fff;
  position: absolute;
  top: 73%;
  border: 2px solid #4b4c51;
  padding: 15px 25px;
}

.our_works {
  background-image: url("../img/f2.jpg");
  min-height: 1220px;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.our_works .top_text {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: 700;
  padding-bottom: 30px;
  padding-top: 65px;
}

.our_works .main_text {
  width: 653px;
  margin: 0 auto;
  text-align: left;
  font-family: "OpenSansLight";
  font-size: 16px;
  color: #6f6f6f;
  line-height: 26px;
}

.our_works .main_features {
  width: 750px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  padding-top: 65px;
}

.our_works .main_features .diamond, .our_works .main_features .photo, .our_works .main_features .magic {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
  width: 33%;
  position: relative;
}

.our_works .main_features .diamond {
  padding-left: 65px;
}

.our_works .main_features .diamond:before {
  content: "\f219";
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 16px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  border: solid 1px #000;
  padding: 3%;
  background: #fff;
  position: absolute;
  left: 50px;
  top: -8px;
}

.our_works .main_features .photo:before {
  content: "\f083";
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 16px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  border: solid 1px #000;
  padding: 4%;
  background: #fff;
  position: absolute;
  top: -8px;
  left: -2px;
}

.our_works .main_features .magic:before {
  content: "\f0d0";
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 16px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  border: solid 1px #000;
  padding: 4%;
  background: #fff;
  position: absolute;
  top: -8px;
  left: 5px;
}

.our_works .service_btn {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 18px;
  color: #fff;
  background-color: transparent;
  padding: 18px 35px;
  border: solid 1px #fff;
  margin-top: 115px;
  cursor: pointer;
}

.our_works .emblem {
  background-color: rgba(209, 209, 209, 0.15);
  margin-top: 25px;
  width: 100%;
  padding-bottom: 40px;
}

.our_works .emblem .emblem_text_top {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #fff;
  padding-top: 60px;
}

.our_works .emblem .emblem_img {
  padding-top: 22px;
  padding-bottom: 16px;
}

.our_works .emblem .emblem_text_bottom {
  font-family: "OpenSansLight";
  font-size: 18px;
  color: #fff;
}

.our_works .emblem .block_btn {
  margin-top: 50px;
}

.our_works .emblem .block_btn button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 11px;
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  padding: 13px 19px;
}

.our_works #Container {
  width: 100%;
}

.our_works #Container .mix {
  display: block;
  float: left;
  width: 25%;
}

.our_works #Container .mix img {
  width: 100%;
  height: 100%;
}

.choose_us {
  text-align: center;
}

.choose_us .top_text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  padding-bottom: 35px;
}

.choose_us .emblem_text_bottom {
  font-family: "OpenSansLight";
  font-size: 18px;
  color: #6f6f6f;
  padding-top: 17px;
}

.choose_us .description {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.choose_us .description .text {
  width: 75%;
  text-align: left;
  padding-top: 140px;
}

.choose_us .description .text .top {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 24px;
}

.choose_us .description .text .main_part {
  color: #6f6f6f;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  width: 650px;
  line-height: 30px;
  padding-top: 10px;
  padding-bottom: 35px;
  position: relative;
}

.choose_us .description .text .main_part:after {
  content: " ";
  background-color: #000;
  width: 72px;
  height: 1px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.choose_us .description .text .bottom {
  font-family: "OpenSansLight";
  font-size: 10px;
  margin-top: 15px;
}

.choose_us .description img {
  width: 25%;
}

.choose_us .block_items_top, .choose_us .block_items_bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.choose_us .block_items_top .item_1, .choose_us .block_items_top .item_2, .choose_us .block_items_top .item_3, .choose_us .block_items_top .item_4, .choose_us .block_items_top .item_5, .choose_us .block_items_top .item_6, .choose_us .block_items_bottom .item_1, .choose_us .block_items_bottom .item_2, .choose_us .block_items_bottom .item_3, .choose_us .block_items_bottom .item_4, .choose_us .block_items_bottom .item_5, .choose_us .block_items_bottom .item_6 {
  width: 370px;
  display: inline-block;
  margin-right: 30px;
  text-align: left;
}

.choose_us .block_items_top .item_1 .top_text_item, .choose_us .block_items_top .item_2 .top_text_item, .choose_us .block_items_top .item_3 .top_text_item, .choose_us .block_items_top .item_4 .top_text_item, .choose_us .block_items_top .item_5 .top_text_item, .choose_us .block_items_top .item_6 .top_text_item, .choose_us .block_items_bottom .item_1 .top_text_item, .choose_us .block_items_bottom .item_2 .top_text_item, .choose_us .block_items_bottom .item_3 .top_text_item, .choose_us .block_items_bottom .item_4 .top_text_item, .choose_us .block_items_bottom .item_5 .top_text_item, .choose_us .block_items_bottom .item_6 .top_text_item {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 16px;
  padding-bottom: 20px;
}

.choose_us .block_items_top .item_1 .text, .choose_us .block_items_top .item_2 .text, .choose_us .block_items_top .item_3 .text, .choose_us .block_items_top .item_4 .text, .choose_us .block_items_top .item_5 .text, .choose_us .block_items_top .item_6 .text, .choose_us .block_items_bottom .item_1 .text, .choose_us .block_items_bottom .item_2 .text, .choose_us .block_items_bottom .item_3 .text, .choose_us .block_items_bottom .item_4 .text, .choose_us .block_items_bottom .item_5 .text, .choose_us .block_items_bottom .item_6 .text {
  color: #6f6f6f;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 13px;
}

.choose_us .block_items_top {
  padding-top: 80px;
}

.choose_us .block_items_top .item_1, .choose_us .block_items_top .item_2, .choose_us .block_items_top .item_3 {
  padding-bottom: 50px;
  border-bottom: solid 1px #ededed;
}
