*::-webkit-input-placeholder 
	color: #666
	opacity: 1

*:-moz-placeholder 
	color: #666
	opacity: 1

*::-moz-placeholder 
	color: #666
	opacity: 1

*:-ms-input-placeholder 
	color: #666
	opacity: 1


body input:focus:required:invalid
body textarea:focus:required:invalid 
	border: 3px solid red

body input:required:valid
body textarea:required:valid 
	border: 3px solid green
$header: #fffefe;
$lato: 'Lato', sans-serif;
$sans: "OpenSansLight";

body
	margin: 0
	padding: 0

.wrapper
	max-width: 1200px
	margin: 0 auto
header
	background-image: url("../img/f1.jpg")
	min-height: 1019px
	background-position: top center
	background-size: cover
	background-repeat: no-repeat
	padding-top: 99px
	.top_header
		padding-bottom: 400px
		.logo
			float: left
			img
				width: 101px
				height: 75px
		nav
			float: right
			margin-top: 22px
			a
				color: $header
				font-family: $lato
				text-transform: uppercase
				text-decoration: none
				font-size: 18px
				padding-left: 35px
				cursor: pointer

	#owl-carousel
		.item
			position: relative
			text-align: center
			color: $header
			// padding-top: 325px
			.top_text
				font-size: 72px
				font-family: $lato
			.text
				font-size: 20px
				font-family: $sans
				padding-top: 32px
				
			button
				background: none
				color: #fffefe
				font-family: 'MontserratRegular'
				font-size: 24px
				text-transform: uppercase
				margin-top: 50px
				border: 3px solid #645f61
				padding: 10px 40px
				cursor: pointer
		.owl-prev:after
			content: "\f104"
			font: normal normal normal 14px/1 FontAwesome
			// width: 53px
			// height: 53px
			left: -15px
			font-size: 30px
			color: #fff
			position: absolute
			top: 73%
			border: 2px solid #4b4c51
			padding: 15px 25px
		.owl-next:after
			content: "\f105"
			// width: 53px
			// height: 53px
			font: normal normal normal 14px/1 FontAwesome
			right: -15px
			font-size: 30px
			color: #fff
			position: absolute
			top: 73%
			border: 2px solid #4b4c51
			padding: 15px 25px 

.our_works
	background-image: url("../img/f2.jpg")
	min-height: 1220px
	background-position: top center
	background-size: cover
	background-repeat: no-repeat
	text-align: center
	.top_text
		font-family: 'Montserrat', sans-serif
		font-size: 30px
		font-weight: 700
		padding-bottom: 30px
		padding-top: 65px
	.main_text
		width: 653px
		margin: 0 auto
		text-align: left
		font-family: $sans
		font-size: 16px
		color: #6f6f6f
		line-height: 26px
	.main_features
		width: 750px
		display: flex
		margin: 0 auto
		padding-top: 65px
		.diamond, .photo, .magic
			font-family: 'Montserrat', sans-serif
			font-size: 14px
			font-weight: 400
			width: 33%
			position: relative
		.diamond
			padding-left: 65px
		.diamond:before
			content: "\f219"
			font: normal normal normal 14px/1 FontAwesome
			font-size: 16px
			border-radius: 50%
			border: solid 1px #000
			padding: 3%
			background: #fff
			position: absolute
			left: 50px
			top: -8px	
		.photo:before
			content: "\f083"
			font: normal normal normal 14px/1 FontAwesome
			font-size: 16px
			border-radius: 50%
			border: solid 1px #000
			padding: 4%
			background: #fff
			position: absolute
			top: -8px
			left: -2px	
		.magic:before
			content: "\f0d0"
			font: normal normal normal 14px/1 FontAwesome
			font-size: 16px
			border-radius: 50%
			border: solid 1px #000
			padding: 4%
			background: #fff
			position: absolute
			top: -8px
			left: 5px
	.service_btn
		font-family: 'Montserrat', sans-serif
		font-weight: 400
		text-transform: uppercase
		font-size: 18px
		color: #fff
		background-color: transparent
		padding: 18px 35px	
		border: solid 1px #fff	
		margin-top: 115px
		cursor: pointer
	.emblem
		background-color: rgba(209, 209, 209, 0.15)
		margin-top: 25px
		width: 100%
		padding-bottom: 40px
		.emblem_text_top
			font-family: 'Montserrat', sans-serif
			font-weight: 700
			font-size: 24px
			color: #fff
			padding-top: 60px
		.emblem_img
			padding-top: 22px
			padding-bottom: 16px
		.emblem_text_bottom
			font-family: $sans
			font-size: 18px
			color: #fff
		.block_btn
			margin-top: 50px

			button
				font-family: 'Montserrat', sans-serif
				font-weight: 400
				text-transform: uppercase
				font-size: 11px
				color: #fff
				background-color: transparent
				border: 1px solid #fff
				padding: 13px 19px

	#Container
		width: 100%
		
		
		.mix
			display: block
			float: left
			width: 25%
		
			img
				width: 100%
				height: 100%
				
.choose_us
	text-align: center
	.top_text
		font-family: 'Montserrat', sans-serif
		font-weight: 700
		padding-bottom: 35px
	
	.emblem_text_bottom
		font-family: $sans
		font-size: 18px
		color: #6f6f6f	
		padding-top: 17px
	.description
		display: flex
		.text
			width: 75%
			text-align: left
			padding-top: 140px
			.top
				font-family: 'Montserrat', sans-serif
				font-weight: 700
				font-size: 24px
			.main_part
				color: #6f6f6f
				font-family: 'Montserrat', sans-serif
				font-weight: 400
				font-size: 14px
				width: 650px
				line-height: 30px
				padding-top: 10px
				padding-bottom: 35px
			.bottom
				font-family: $sans
				font-size: 10px
				
		img
			width: 25%






