*::-webkit-input-placeholder 
	color: #666
	opacity: 1

*:-moz-placeholder 
	color: #666
	opacity: 1

*::-moz-placeholder 
	color: #666
	opacity: 1

*:-ms-input-placeholder 
	color: #666
	opacity: 1


body input:focus:required:invalid
body textarea:focus:required:invalid 
	border: 3px solid red

body input:required:valid
body textarea:required:valid 
	border: 3px solid green
$header: #fffefe;
$lato: 'Lato', sans-serif;

body
	margin: 0
	padding: 0
.wrapper
	max-width: 1200px
	margin: 0 auto
header
	background-image: url("../img/f1.jpg")
	min-height: 1019px
	background-position: top center
	background-size: cover
	background-repeat: no-repeat
	padding-top: 99px
	.logo
		float: left
		img
			width: 101px
			height: 75px
	nav
		float: right
		margin-top: 22px
		a
			color: $header
			font-family: $lato
			text-transform: uppercase
			text-decoration: none
			font-size: 18px
			padding-left: 35px
	#owl-carousel
		.item
			position: relative
			text-align: center
			color: $header
			padding-top: 285px
			.top_text
				font-size: 72px
				font-family: $lato
			.text
				font-size: 20px
				font-family: "Open Sans Light"
				
			button
				background: none
				color: #fffefe
				font-family: "Montserrat-Regular"
				font-size: 24px
				text-transform: uppercase
				margin-top: 50px
				border: 3px solid #645f61
				padding: 10px 40px
		.owl-prev:after
			content: "\f104"
			font: normal normal normal 14px/1 FontAwesome
			width: 53px
			height: 53px
			left: 80px
			font-size: 30px
			color: #fff
			position: absolute
			top: 70%
			margin-left: -25px
			border: 2px solid #4b4c51
			padding: 10px 20px
		.owl-next:after
			content: "\f105"
			width: 53px
			height: 53px
			font: normal normal normal 14px/1 FontAwesome
			right: 80px
			font-size: 30px
			color: #fff
			position: absolute
			top: 70%
			margin-right: -25px
			border: 2px solid #4b4c51
			padding: 10px 20px 
			
